.infographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: var(--customColor3);
  padding: 20px;
}
.infographic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  flex-wrap: wrap;
  width: 100%;
}

/* Step card */
.info-step {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--customColor1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.info-step h3 {
  font-size: 18px;
}

.info-step p {
  font-size: 13px;
}

/* Big background number */
.step-number {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  font-size: 90px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
}

/* Icon */
.icon-how {
  font-size: 34px;
  color: white;
  width: fit-content;
  height: fit-content;
}

/* Connector */
.connector {
  width: 80px;
  height: 2px;
  border-top: 3px dotted #999;
  margin: 0 10px;
  position: relative;
}
.connector::after {
  content: ">";
  position: absolute;
  right: -5;
  top: -18px;
  color: #999;
  font-size: 20px;
}
/* Color themes */

.infographic-PayContainer {
  /* border: solid red; */
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 5px rgb(129, 129, 129);
}

.infographic-PayContent > img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

/* Responsive */
@media (max-width: 900px) {
  .connector {
    display: none;
  }

  .infographic-wrapper {
    gap: 30px;
  }

  .step-number {
    right: 0px;
    font-size: 70px;
  }
  .info-step {
    width: 300px;
    max-width: 400px;
    height: 100%;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: var(--customColor1);
  }
}
