.ourGallery-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourGallery-content {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.ourGallery-item {
  /* border: solid blue; */
  width: 300px;
}
@media screen and (max-width: 768px) {
  .ourGallery-content {
    gap: 30px;
  }
}
