.homeService {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  gap: 30px;
  background-color: var(--customColor3);
  padding: 20px;
    /* border: solid; */
}
.homeServicesHead {
  width: 100%;
  text-align: center;
}
.homeServicesHead > h2 {
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.homeServicesMain {
  border: solid blue;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
/* -----------------------HomeServicesCard------------- */
.homeServicesCard {
  /* border:  solid black; */
  width: 350px;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  transition: 300ms ease-in-out;
  /* box-shadow: 0 0px 0px 0px black; */
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 10px 20px rgba(0, 0, 0, 0.15); /* Layered shadow */
  background-color: white;
  /* &:hover {
    box-shadow: 0 10px 0px 0px var(--customColor1);
    border: solid 1px var(--customColor1);
  } */
}
.homeServicesCardImg {
  /* border: solid green; */
  width: 360px;
  height: 300px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.538);
}
.homeServicesCardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms ease-in-out;
}
.homeServicesCard:hover .homeServicesCardImg > img {
  transform: scale(1.1);
}
.homeServicesCardTxt {
  padding: 10px;
}
.homeServicesCardTxt > h4 {
  color: var(--customColor1);
}
.homeServicesCardTxt > p {
  text-align: justify;
}
.homeServicesCardTxt > a {
  color: var(--customColor2);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.homeServicesCardTxt > h5 > a {
  color: var(--customColor1);
  text-decoration: none;
  text-align: end;
}

.homeServiceContent > h5 > a {
  color: var(--customColor1);
  text-decoration: none;
}
.homeServiceContent > h5 > a:hover {
  color: var(--customColor2);
  text-decoration: underline;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeServicesHead > h2 {
    font-size: 30px;
  }
  .homeServicesHead > p {
    text-align: justify;
  }
  .homeServicesMain {
    /* border: solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
  }
  .homeServicesCard {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    transition: 300ms ease-in-out;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1),
      0px 10px 20px rgba(0, 0, 0, 0.15); /* Layered shadow */
    background-color: white;
  }
  .homeServicesCardImg {
    /* border: solid green; */
    width: 100%;
    height: 100%;
  }
}



.homeService-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.homeServiceMain-container {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  padding: 10px;
}
.mySwiper {
  /* border: solid blue; */
  width: 100%;
  height: 600px;
  padding: 20px;
}
.swiper-3d {
  padding: 30px !important;
}
.homeServiceMain-content {
  /* border: solid var(--customColor1); */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 0 10px grey;
}
.homeServiceMain-content > img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.homeServiceMain-content > p {
  font-size: 15px;
}
.homeServiceMain-content > a {
  color: var(--customColor2);
  text-decoration: none;
  font-weight: 600;
}
.homeServiceMain-cardContainer {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(163, 163, 163);
  overflow: hidden;
}
.homeServiceMain-cardContainer > a {
  /* border: solid; */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
.homeServiceMain-cardCover {
  /* border: solid red; */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100%);
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: #2a2a2aac;
  opacity: 0;
  z-index: 1;
}
.homeServiceMain-cardContainer:hover .homeServiceMain-cardCover {
  transform: translateY(0%);
  opacity: 1;
}
.homeServiceMain-cardImg {
  /* border: solid blue; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeServiceMain-cardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 400ms ease-in-out;
}
.homeServiceMain-cardHead {
  /* border: solid brown; */
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8, 0, 227);
  bottom: 50px;
  left: 0;
  position: absolute;
  background-color: var(--customColor1);
  transition: 400ms ease-in-out;
  overflow: hidden;
}
.homeServiceMain-cardHead > h4 {
  /* border: solid red; */
  font-size: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #0236b8;
}
.homeServiceMain-cardHead > h3 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 20px;
}
.homeServiceMain-cardPara {
  /* border: solid yellowgreen; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
}
.homeServiceMain-cardContainer:hover .ourServicesCardHead {
  color: var(--customColor2);
}
.homeServiceMain-cardContainer:hover .homeServiceMain-cardHead > img {
  transform: scale(1.2);
}
.homeServiceMain-cardPara > p {
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  transition: 100ms ease-in-out;
}
.homeServiceMain-cardContainer:hover .homeServiceMain-cardPara > p {
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 768px) {

  .homeServiceMain-container {
    /* border: solid green; */
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .swiper-3d {
    padding: 10px !important;
  }
  .homeServiceMain-cardContainer {
    /* border: solid green; */
    width: 100%;
    height: 100%;
    margin: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    overflow: hidden;
  }
}
