.serviceEssentials-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}
.serviceEssentials-navbar {
  width: 100%;
  border-bottom: solid 1px;
}
.serviceEssentials-navbar > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
.serviceEssentials-navbar > ul > li {
  list-style: none;
}
.serviceEssentials-navbar button {
  position: relative;
  background: transparent;
  border: none;
  padding: 10px 0;
  font-size: 25px;
  cursor: pointer;
}

.serviceEssentials-navbar button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 5px;
  background-color: var(--customColor1);
  transition: width 0.3s ease;
}

.serviceEssentials-navbar button.routeActives::after {
  width: 100%;
}
.serviceEssentials-content {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .serviceEssentials-container {
  /* border: solid red; */
  padding: 20px;
}
  .serviceEssentials-navbar > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .serviceEssentials-navbar button {
  position: relative;
  background: transparent;
  border: none;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
}
}
