.contactUsContacts-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: solid red; */
}
.contactUsContacts-content {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  transition: 300ms ease;
}
.contactUsContacts-content:hover {
  background-color: var(--customColor3);
}
.contactUsContacts-iconContainer {
  /* border: solid blue; */
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease;
}
.contactUsContacts-icon {
  font-size: 30px;
  color: var(--customColor1);
  transition: 300ms ease;
}
.contactUsContacts-content:hover .contactUsContacts-iconContainer {
  background-color: var(--customColor1);
}

.contactUsContacts-content:hover .contactUsContacts-icon {
  color: white;
}
.contactUsContacts-content > a {
  text-decoration: none;
  font-size: 18px;
  color: rgba(128, 128, 128, 0.815);
}

@media screen and (max-width: 768px) {
  .contactUsContacts-container {
    flex-direction: column;
    gap: 20px;
    /* border: solid red; */
  }
}
/* ---------------------------------------------------------------------------------------- */

.contactUsLocation-container {
  /* border: solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  height: 600px;
}
.contactUsLocation-wrapper {
  width: 50%;
  height: 100%;
  /* border: solid green; */
  padding: 20px;
  border-radius: 10px;
  background-color: var(--customColor3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.contactUsLocation-wrapper > h2 {
  width: 100%;
  text-align: start;
  color: var(--customColor1);
}
.contactUsLocation-wrapper:nth-child(2) {
  width: 40%;
}
.contactUsLocation-wrapper > iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.contactUsLocation-wrapper > form {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .contactUsLocation-container {
    /* border: solid red; */
    flex-direction: column-reverse;
    height: 100%;
    padding: 10px;
    gap: 20px;
  }
  .contactUsLocation-wrapper {
    width: 100%;
    height: 100%;
    /* border: solid green; */
  }
  .contactUsLocation-wrapper:nth-child(2) {
    width: 100%;
  }
    .contactUsLocation-wrapper:nth-child(1) {
    padding: 0;
    }
    .contactUsLocation-wrapper > iframe {
  width: 100%;
  height: 300px;
}
}
