.homeTransformation-container {
  /* border: solid red; */
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.homeTransformation-wrapper {
  width: 70%;
  margin-top: 30px;
}
.homeTransformation-content{
  margin-left: 25px;
}
.homeTransformation-content > img {
  width: 300px;
  height: 300px;
}
.homeTransformation-container>h2{
  font-weight: 40px;
  font-weight: bold;
}