.homeTransformation-container {
  /* border: solid red; */
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.homeTransformation-wrapper {
  width: 70%;
  margin-top: 30px;
}
.homeTransformation-content {
  margin-left: 25px;
}
.homeTransformation-content > img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.homeTransformation-container > h2 {
  font-weight: 40px !important;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .homeTransformation-container {
    /* border: solid red; */
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .homeTransformation-wrapper {
    width: 100%;
    margin-top: 30px;
  }
  .homeTransformation-content {
    /* border: solid red; */
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homeTransformation-content > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
